.project{
    background-color: white;
    /* width: auto; */
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* margin: auto; */
    padding: 15px;
    /* margin-top: 10px; */
    width: 90%;
    margin-bottom: 3px;
}

.content{
    /* background-color: red; */
    margin: auto;
    text-align: start;
    width: 100%;
    padding-left: 20px;
}
.content:hover{
    cursor: pointer;
}
.content img{
    width: 20px;
}
.content p{
    /* background-color: red; */
    margin: 0;
    margin-top: 3px;
    color:#00000073;
    font-size: 12px;
}
.conteinerUser{
    display: flex;
    align-items: center;
    /* background-color: blue; */
    margin-top: 5px;
    width: 100%;
    /* padding-left: 20px; */
}
.conteinerUser img{
    width: 30px;
}
.conteinerUser h4{
    margin: 0px;
    margin-left: 5px;
    padding: 0;
    color: #000000A6;
    font-size: 14px;
}
.conteinerMore{
    /* display: flex; */
    /* background-color: yellow; */
    /* align-items: start; */
    margin: auto;
}
.conteinerMore img{
    width: 30px;
}
.conteinerMore:hover{
    cursor: pointer;
}

h4{
    /* background-color: green; */
    margin: 0;
    color: #000000A6;
}


@media (min-width: 600px) {
    .project2{
        width: 100%;
        border-radius: 5px;
        /* background-color: #fafafa; */
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        /* margin-top: 40px; */
    }
    .titleProject{
        display: grid;
        grid-template-columns: 30% 25% 25% 10% 10%;
        width: 90%;
        height: 60px;
        background-color: #fafafa;
        text-align: start;
       
    }
    .titleProject h4{
        color: #000000D9;
        width: 100%;
        font-size: 14px;
        margin: auto;
        text-align: start;
        padding-left: 20px;
    }

.infoProject{
    display: grid;
    grid-template-columns: 30% 25% 25% 10% 10%;
    width: 90%;
    height: 60px;
    background-color: white;
    text-align: start;
    margin-top: 3px;
    
}
.infoProject p{
    /* margin: auto; */
}
.status{
    margin: auto;
    width: 100%;
    text-align: center;
}
.status p{
    background-color: #f0f2f5;
    display: inline-block;
    font-size: 12px;
    color: #4D4D4D;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #4d4d4d75;
    padding-top: 3px;
    padding-bottom: 3px;
}

}